<p><strong>Commenter:</strong>
<%= comment.user.email %></p>
<p><strong>Comment:
<%= comment.body %></strong></p>
<% if comment.user == current_user %>
	<%= link_to 'Edit', edit_photo_comment_path(comment.photo, comment) %>
	<%= link_to 'Destroy', [comment.photo, comment],
	method: :delete,
	data: {confirm: 'Are you sure?'} %>
<% end %>