<h1>Brugram Photos</h1>
<ul>
<% if user_signed_in? %>
	<%= link_to 'My Photos', user_photos_path(current_user) %>
<% end %>
	<%= @photos.each do |photo| %>
		<li><p><%= link_to image_tag(photo.image), user_photo_path(photo.user, photo) %></p>
		<p><%= photo.caption %></p>
</li>
		
	<% end %>
</ul>